/* For the top of each page */
div.headingdiv {
  text-align: center;
  font-family: "Times New Roman";
  color: #eee;
}

/* Ignore for now */
.center {
    margin: auto;
    width: 0%;
    padding: 10px;
}

/* These are the main buttons, implemented with div */
div.buttondiv {
  border-radius: 15px;
  width:230px;
  background-color: #1111df;
  padding: 10px;
  opacity: 1.0;
}

/* This is the main text container */
div.maincont {
  background-image: url('crumple.jpg');
  padding:25px;
  border-radius: 25px;
  opacity: 0.75;
}

/* This is for the text inside maincont */
p.maintext {
  padding: 0.2cm;
  text-indent: 25px;
  text-align: justify;
  font-size: 19px;
  font-family: "Times New Roman";
}
